* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: .9rem;
}

.navigation {
	max-width: 100%;
	height: auto;
	padding: 1rem;
	background-color: #8774c1;
}

.nav-menu,
.drop-down-content {
	list-style-type: none;	
}

.nav-menu-item {
	position: relative;
	display: inline-block;
	min-width: 20%;
	padding: .5rem;
	cursor: pointer;
	text-align: center;
	background-color: #f5f4f3;
}

.nav-menu li:hover {
	background-color: #cacaca;
}

.drop-down-content {
	display: none;
	position: absolute;
	top: 2rem;
	left: 0;
	width: 100%;
	overflow: auto;
	background-color: #f5f4f3;
}

.drop-down-content li {
	display: block;
	margin: .5rem;
	padding: .5rem;
}

.show {
	display: block;
	animation: rotateDown 300ms ease-in-out forwards;
	transform-origin: top center;
}

@keyframes rotateDown {
	0% {
		transform: rotateX(-90deg);
	}

	70% {
		transform: rotateX(20deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}
